@model IEnumerable<Person>

@using DAL;

<div>
    <div style="margin:5px;">
        @*@Html.Partial(MVC.Shared.Views._Grid,Model)*@
        @Html.Action(MVC.Home.Actions.GetGrid())
    </div>
</div>
<div>
    @ViewBag.Hello
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            //$(".grid").datagrid();
        });
    </script>
}

