.header {
    height: auto;
}

.menu1 {
    background-color: black;
    height: 30px;
    line-height: 30px;
}

    .menu1 a {
        color: white;
        margin-left: 60px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

        .menu1 a:hover {
            color: red;
        }

.divName {
    position: absolute;
    right: 20px;
    top: 18px;
}

    .divName a {
        font-weight: bold;
        color:dodgerblue;
    }

        .divName a:hover {
            color: red;
        }

.loginBG {
    background-color: lightblue;
    padding: 20px 10px 2px 10px;
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -150px;
    border-radius: 3px;
}
